body {
    background-image: url("sweetBackground.jpg");
    background-color: rgb(190, 247, 255);
    font-size: 10;
    list-style-type: square;
    text-align: center;
    display: inline-block;
    color: rgb(230, 230, 230);
}

header, section {
    background: linear-gradient(rgba(37, 3, 2, 0.99), rgba(124, 0, 0, .1));
    border: 1px solid linear-gradient(rgba(14, 2, 1, 0.9), rgba(150, 0, 0, .2));
}

header {
    height: 70px;
    line-height: 70px;
    margin: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

p {
    text-align: left;
    margin: 20px;
    padding: 5px;
}

p

main {
    margin: 25px;
}

section {
    margin: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

ul, ol {
    padding: 5px;
}

ol {
    list-style-type: decimal;
}

li {
    margin-left: 10px;
    margin-top: 5px;
}

footer {
    font-size: 50px;
    background: linear-gradient(rgb(162, 225, 250, .2), rgba(60, 206, 216, 1));
    height: 150px;
    color: rgb(230, 230, 230);
    padding: 40px;
}